In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
ds = pd.read_csv('../Class/machine-learning-june-2018/Class7/titanic.csv')
ds.head(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
dk = ds.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'])
print dk.values.shape

(891, 7)

In [7]:
df = dk.dropna(axis=0)
print df.values.shape

(714, 7)

In [8]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [9]:
sex_mapping = {
    'male': 0, 
    'female': 1
}
df.Sex = df.Sex.map(sex_mapping)

/usr/local/lib/python2.7/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [10]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

In [12]:
data = df.values
## Training and Testing split
split = int(data.shape[0]*0.8)
train_data = data[:split]
test_data = data[split:]

X_train = train_data[:,1:]
Y_train = train_data[:,0]

X_test = test_data[:,1:]
Y_test = test_data[:,0]

print Y_train.shape
print X_train.shape
print Y_test.shape
print X_test.shape

(571,)
(571, 6)
(143,)
(143, 6)

In [14]:
dt = DecisionTreeClassifier()
dt.fit(X_train,Y_train)
print dt.score(X_test,Y_test)

0.7832167832167832

In [16]:
rf = RandomForestClassifier(n_estimators=5)
rf.fit(X_train,Y_train)
print rf.score(X_test,Y_test)

0.8251748251748252